@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.content{
    background-color: rgba(0, 0, 0 ,0.7);
    background-image:url("book.png");
    background-blend-mode: darken;
    background-size: cover;
    height: 600px;
}
.text-center{
    text-align: center;
    padding: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    padding-top:150px;
}

.form{
 min-width: 500px;
 margin: 25px auto;
 text-align: center;
 justify-content: center;
}
.form-input{



    width: 40%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn{

    margin: 7px 3px ;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;

}
.btn-sm{

    vertical-align: middle;
    padding: 6px 10px;
}

.btn-dark{
    color:white;
    border:2px solid black;
    font-size: 16px;

}
.background{
   background-color:rgba(0, 0, 0 ,0.7);
   background-blend-mode: darken;
   background-size: cover;



}

.text-footer{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    font-size: 15px;
    color:white;
    display: flex;
    justify-content: center;


}
